/* Variable */

:root {
  --min-width: 375px;
  --primary-color: #3a57e8;
  --primary-color-dark: #2c42b1;
  --text-main: #232d42;
  --text-secondary: #8a92a6;
  --btn-bg: #ffffff;
  --btn-color: var(--text-main);
  --btn-border: #cdd6de;
  --bg: #1F2770;
  --bg-image : url("../image/bg.jpg");
  --border: #e9ecef;
  --card-bg-color: var(--btn-bg);
  --card-hover: #fbfcfe;
  --card-shadow: 0px 10px 13px rgba(9, 13, 36, 0.25);
  --card-border-radius: 8px;
}

[data-theme="dark"] {
  --primary-color: #3a57e8;
  --primary-color-dark: #2c42b1;
  --text-main: #f8f8f8;
  --text-secondary: #8a92a6;
  --btn-bg: #222738;
  --btn-color: var(--text-main);
  --btn-border: #343948;
  --bg: #151723;
  --bg-image : url("../image/bg-dark.jpg");
  --border: #30384F;
  --card-hover: #2a2e3f;
  --card-bg-color: var(--btn-bg);
}
/* Global */

* {
  box-sizing: border-box;
  outline-color: var(--primary-color);
  outline-width: 1px;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: var(--min-width);
  font-size: 18px;
  color: var(--text-main);
  line-height: normal;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  overflow-x: hidden;
  transition: background-color 0.4s ease-in-out;
}

/* Buttom */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 8px;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--btn-border);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.button:focus-visible {
  outline: 2px solid var(--primary-color); 
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  background-color: var(--btn-border);
}

.button--text {
  width: min-content;
  min-width: 42px;
}

.button--edit {
  background-image: url("../image/edit.svg");
}

.button--delete {
  background-image: url("../image/delete.svg");
}

.button--reset {
  background-image: url("../image/remove.svg");
}

.button--theme {
  background-image: url("../image/dark.svg");
}

[data-theme="dark"] .button--theme {
  background-image: url("../image/light.svg");
} 

/* Header */

.header {
  position: absolute;
  min-width: var(--min-width);
  width: 100%;
  height: 100%;  
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-image: var(--bg-image);
  transition: background-image 0.4s ease-in-out;
}


/* Todo */

.todo {
  position: relative;
  padding: 0 16px;
  padding-top: 48px;
  margin: 0 auto;
  width: 600px;
  z-index: 2;
}

@media (max-width: 600px) {
  .todo {
    width: 100%;
  }
}

.todo__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
}

.todo__title {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
.todo__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

/* Card */

.card {
  padding-top: 24px;
  margin-bottom: 46px;
  background-color: var(--card-bg-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.card__button-groupe {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.card__form {
  padding: 0 24px;
  margin-bottom: 16px;
}

.card__setup {
  padding: 0 24px;
  padding-bottom: 24px;
}

/* Form */

.form {
  position: relative;
  display: flex;
  gap: 8px;
}

.form__input {
  flex-grow: 1;
  padding: 16px 24px;
  padding-right: 40px;
  font-size: 18px;
  color: var(--text-main);
  background-color: var(--card-bg-color);
  border: 1px solid var(--btn-border);
  border-radius: 5px;
}

.form__input:focus-visible {
  outline: 2px solid var(--primary-color);
}

.form__input::placeholder {
  color: var(--text-secondary);
}

.form__submit {
  position: absolute;
  right: 30px;
  top: 50%;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  transform: translate(0, -50%);
}

.form__submit:disabled {
  opacity: 0.1;
}

/* Setup */

.setup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Filter  */

.filter--active {
  background-color: var(--primary-color);
  color: #ffffff;
}

.filter--active:hover,
.filter--active:focus {
  opacity: 1;
  background-color: var(--primary-color-dark);
}

/* Tasks */

.task {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-top: 1px solid var(--border);
  opacity: 0.8;
  overflow: hidden;
  transition: opacity 0.1s ease-in-out;
}

.task__item:hover {
  opacity: 1;
  background-color: var(--card-hover)
}

.task__item:last-child {
  border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
}

.task__item input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.task__checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  cursor: pointer;  
  outline-offset: 0px;
}

.task__item input[type="checkbox"]:checked + .task__checkbox {
  border-color: var(--text-secondary);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.73369 0.292843C10.0887 0.68334 10.0888 1.31651 9.73378 1.70706L4.28 7.70706C3.92502 8.09759 3.34945 8.09766 2.9944 7.70721L0.266357 4.70721C-0.0887151 4.31674 -0.0887959 3.68357 0.266176 3.29299C0.621149 2.90241 1.19675 2.90232 1.55183 3.29279L3.63699 5.58584L8.44804 0.292943C8.80304 -0.0976088 9.37864 -0.0976533 9.73369 0.292843Z' fill='%238A92A6'/%3E%3C/svg%3E%0A");
}   

.task__item input[type="checkbox"]:checked:focus + .task__checkbox { 
  outline: 6px solid #919ac748
}

.task__item input[type="checkbox"]:focus + .task__checkbox {
  outline: 6px solid #3a57e844
}

.task__text {
  position: relative;
  padding: 24px 0;
  padding-left: 36px;
  margin-right: auto;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task__item input[type="checkbox"]:checked ~ .task__text {
  color: var(--text-secondary);
}

.task__text::before {
  content: "";
  position: absolute;
  width: 0;
  top: 50%;
  height: 2px;
  background-color: var(--text-secondary);
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.task__item input[type="checkbox"]:checked ~.task__text::before {
  width: 100%;
}

.task__item .button {
  display: none;
}

.task__item:focus .button,
.task__item:hover .button {  
  display: block;
}

.task__item input[type="checkbox"]:checked ~ 
.card__button-groupe .button--edit {
  display: none;
}

.task__button {
  position: absolute;
  right: 24px;
}

.task__empty {
  margin: 0;
  padding: 24px;
  font-size: 14px;
  text-align: center;
  color: var(--text-secondary);
}

/* Drag and Drop HINT */

.slist .hint {
  background: #feffb4;
  background: var(--card-hover);
}
.slist .active {
  background: #2a7de93f;
  outline: 2px dotted var(--primary-color);
  z-index: 3;
}